html {
	overflow-x: hidden;
}
body {
	min-height: 100vh;
	font-family: arial, sans-serif;
}
div{
	
}
.hero {
	position: relative;
	min-height: 90vh;
}
.main {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	height:80%;
	width:60%;
}

.head {
	padding:10px;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	max-height:10%;
}

.links span {
	float:right;
}
.hide, #link {
	display:none;
}
.show {
	
}

.bod {
	height:80%;
	overflow:auto;
}

.bod ul {
	padding:0px 5px;
}
.bod ul li {
	list-style:none;
	display:block;
	margin:2px 3px;
}

.other {
	text-align:left;
}
.self {
	text-align:right;
}

.sender {
	padding:10px;
	max-height:10%;
	display:flex;
	justify-content:center;
}


.sender form {
	width: 100%;
	margin: auto;
	display: flex;
	justify-content: center;
}
#message {
	margin-right:0.5rem;
	min-width: 70%;
	height: 2rem;
	border: 1px solid #5bc0de;
}
#message:focus {
	outline: none;
	border: none;
	border-bottom: 1px solid #0275d8;
}

@media only screen and (max-width: 750px) {
	.main {
		width: 85%;
	}
}


/* ----- */